<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Lab_3</title>
    </head>
    <body>
        <div id="app" class="appWrapper">
            <div class="menu" v-if="state === 'menu'">
                <div class="d-grid gap-2">
                    <button
                        class="btn btn-secondary"
                        type="button"
                        v-for="(option, index) in menuOptions"
                        @click="menuMethod(index)"
                    >
                        {{ option }}
                    </button>
                </div>
            </div>
            <div class="input" v-else-if="state === 'input'">
                <div v-if="!input.volumeSuccess">
                    <label class="dimensionsLabel">
                        <span>Введите размерность матрицы:</span>
                        <div class="input-group mb-3">
                            <input
                                type="text"
                                class="form-control"
                                v-model="input.volumeValue"
                                @input="volumeInput"
                            />
                            <button
                                class="btn btn-primary"
                                type="button"
                                :disabled="input.volumeBtnDisabled"
                                @click="volumeInputSuccess"
                            >
                                Отправить
                            </button>
                        </div>
                    </label>
                </div>
                <div v-else>
                    <table></table>
                </div>
            </div>
            <div class="output" v-else-if="state === 'output'">
                <h3>{{ output.headline }}</h3>
                <div class="outputContainer">{{ output.content }}</div>
            </div>
        </div>
    </body>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/code.js"></script>
</html>
